<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link rel="stylesheet" href="~/Content/w3.css">
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    

    <script type="text/javascript">

        var image1 = new Image()
        image1.src = "/Content/Images/buildings1.jpg"
        var image2 = new Image()
        image2.src = "/Content/Images/buildings2.jpg"
        var image3 = new Image()
        image3.src = "/Content/Images/buildings3.jpg"
        var image4 = new Image()
        image4.src = "/Content/Images/buildings4.jpg"

    </script>



</head>
<body>
    <div class="body-wrapper">
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>

                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">

                        <li>@Html.ActionLink(RealEstate.Resources.LayoutTexts.Home, "Index", "Home")</li>
                        <li>@Html.ActionLink(RealEstate.Resources.LayoutTexts.Contact, "Contact", "Home")</li>

                        @if (ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <li id="white-color-li">@Html.ActionLink("ADMIN", "Index", "Admin")</li>
                        }

                    </ul>
                    @Html.Partial("_LoginPartial")
                   
                </div>
                
            </div>
           
        </div>
        
        <div class="container body-content">
            @RenderBody()
            <hr />

        </div>
        @Html.Partial("_footer")

        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/bootstrap")
        @RenderSection("scripts", required: false)
    </div>
</body>
</html>
