@using Microsoft.AspNet.Identity
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @Html.ActionLink("Hello " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "en" })">
                <img src="@Url.Content("~/Content/Images/eng.png")"style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "lt" })">
                <img src="@Url.Content("~/Content/Images/lt.png")"style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "ru" })">
                <img src="@Url.Content("~/Content/Images/ru.png")" style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink(RealEstate.Resources.LayoutTexts.Register, "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
        <li>@Html.ActionLink(RealEstate.Resources.LayoutTexts.LogIn, "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "en" })">
                <img src="@Url.Content("~/Content/Images/eng.png")" style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "lt" })">
                <img src="@Url.Content("~/Content/Images/lt.png")"style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>
        <li>
            <a href="@Url.Action("Change", "Languages", new { LanguageAbbrevation = "ru" })">
                <img src="@Url.Content("~/Content/Images/ru.png")" style="border-radius: 50%; width:30px;height:30px;" />
            </a>
        </li>

    </ul>
}
