
@{
    ViewBag.Title = "Index";
}

<h2>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.ServicesWeProvide)</h2>

<div class="row">

    <div class="col-md-4">
        <ul>
            <li class="list-of-services">
                @Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.GeneralConstructionWorks)
                <ul>
                    <li class="ordinary">@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.InstallationOfFacades)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.InstallationOfFoundation)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.InstallationOfRoofStructures)</li>
                </ul>
            </li>


            <li class="list-of-services">
                @Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.DecorationWorks)
                <ul>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.Plastering)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.InteriorPainting)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.FacadeDecoration)</li>
                </ul>
            </li>

            <li class="list-of-services">
                @Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.OutdoorUtility)
                <ul>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.Landscaping)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.ConstructionOfFences)</li>
                </ul>
            </li>

            <li class="list-of-services">
                @Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.Design)
                <ul>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.BuildingDesign)</li>
                    <li>@Html.DisplayName(RealEstate.Resources.ServicesTexts.ServicesTexts.EngineeringNetworks)</li>
                </ul>
            </li>

        </ul>

    </div>

    <div class="col-md-8" id="service-image-container">
        <img src="~/Content/Images/services.jpg" alt="" width="730" height="450" />
    </div>

    <div style="margin-top: auto">
        <div style="display:inline">
            <a class="btn btn-primary" href="@Url.Action("Index", "Home")">
                <div class="be-in-middle">
                    <span class="glyphicon glyphicon-arrow-left"></span>
                    @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.
                                     ProjectModelTexts.BackToHomePage)
                </div>
            </a>
        </div>
        <div style="display:inline">
            <a class="btn btn-success" href="@Url.Action("InquiryForm", "Home")">
                <div class="be-in-middle">
                    @Html.DisplayName(RealEstate.Resources.HomeTexts.
                                     HomeTexts.ContactUsSmallLetters)
                </div>
            </a>
        </div>
    </div>
</div>

