@{
    ViewBag.Title = "Contact";
}


<h1>@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Contacts)</h1>

<h3><b>@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Address)</b></h3>
<address>
    Draugystės g. 17<br />
    LT-51229 Kaunas, Lietuva<br />
</address>

<h3><b>@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.ContactUs)</b></h3>
<address>
    <p><span class="glyphicon glyphicon-phone"></span>  @Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Telephone) +370 65517150></p>
    <p><span class="glyphicon glyphicon-envelope"></span>  @Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Email) <a href="mailto:info@ntverslas.lt">info@ntverslas.lt</a>></p>
</address>

<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1884.2016488378697!2d23.998380215371707!3d54.
        907345064344504!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x46e7183fd4edef7d%3A0x267be6138e4d4ab5!2sDraugyst%C4%97s+g.
        +17%2C+Kaunas+51229%2C+Lithuania!5e1!3m2!1sen!2sdk!4v1492008845378" width="600" height="450" frameborder="0" style="border:0" 
        allowfullscreen></iframe>

