@{
    ViewBag.Title = "Home Page";
}


 <img src="@Url.Content("~/Content/Images/background1.jpg")" name="slide" id="nuotrauka" style="width:100%" height="300"/>


<script type="text/javascript">

    var step = 1
    function slideit() {
        document.images.slide.src=eval("image"+step+".src")
    
    if(step<4)
        step++
    else
        step = 1
    setTimeout("slideit()", 3500)
    }
    slideit()

</script>
<div class="row">
    <div class="col-md-4">
        <img src="@Url.Content("~/Content/Images/CompanyLogo.png")" class="company-logo" />
    </div>
    <pre class="col-md-8"id="text-area-no-max-width" rows="12" cols="400">
       @Html.Raw(RealEstate.Resources.HomeTexts.HomeTexts.CompanyIntroduction)
    </pre>
</div>

<div class="row" id="div-with-buttons"> 
    <div class="col-md-4">     
        <a class="btn btn-default" id="circle-button" href="@Url.Action("Index", "Projects")">
            <div class="be-in-middle"> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.Projects)</div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" id="circle-button" href="@Url.Action("Index", "Services")">
            <div class="be-in-middle"> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.Services)</div>
        </a>
    </div>
    <div class="col-md-4">
        <a class="btn btn-default" id="circle-button" href="@Url.Action("InquiryForm", "Home")">
            <div class="be-in-middle"> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.ContactUs)</div>
        </a>
    </div>
</div>

<div class="row" id="div-with-four-projects">
    @{ 
        var fourProjects = ViewBag.FourRandomProjects;

        if (fourProjects.Count > 0)
        {
            foreach (var item in fourProjects) {
                var listOfStrings = new List<byte[]>();

                foreach (var image in ViewBag.ImagesList)
                {
                    if (image.ProjectBelongsId == item.ProjectId)
                    {
                        listOfStrings.Add(image.ImageData);
                    }
                }

                var firstImage = listOfStrings.First<byte[]>();
                var base64 = Convert.ToBase64String(firstImage);
                var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <div class="col-md-3" id="div-in-one-line" style="height:100%"> 
                            <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                                <img src='@imgSrc' style="width:100%; height:150px" />
                                <div style="width:100%; height:20%; padding-top:10px">@item.Title</div>
                                <div style="text-align:right; height:10%"><img src='~/Content/Images/turnright1.png' style="height:100%; width:20%; padding-bottom: 10px" /></div>
                            </a>
                         </div>
                       }
                    }
                
                    }
    </div>