@{
    ViewBag.Title = "Home Page";
}


 <img src="@Url.Content("~/Content/Images/background1.jpg")" name="slide" id="nuotrauka" style="width:100%" height="430"/>


<script type="text/javascript">

    var step = 1
    function slideit() {
        document.images.slide.src=eval("image"+step+".src")
    
    if(step<4)
        step++
    else
        step = 1
    setTimeout("slideit()", 3500)
    }
    slideit()

</script>

<div class="row" style="margin-top: 30px">
    <div class="btn-group-vertical col-md-4">
        <div>
            <a class="action-button shadow animate blue btn btn-success" href="@Url.Action("Index", "Projects")">
                <div><span class="glyphicon glyphicon-home"></span> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.Projects)</div>
            </a>
        </div>
        <div>
            <a class="action-button shadow animate blue btn btn-success" href="@Url.Action("Index", "Services")">
                <div><span class="glyphicon glyphicon-wrench"></span> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.Services)</div>
            </a>
        </div>
        <div>
            <a class="action-button shadow animate blue btn btn-success" href="@Url.Action("InquiryForm", "Home")">
                <div><span class="glyphicon glyphicon-pencil"></span> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.ContactUs)</div>
            </a>
        </div>
    </div>
    <pre class="col-md-8" id="text-area-no-max-width" rows="12" cols="400">
       @Html.Raw(RealEstate.Resources.HomeTexts.HomeTexts.CompanyIntroduction)
    </pre>
</div>

<div class="row" id="div-with-four-projects">
    @{ 
        var fourProjects = ViewBag.FourRandomProjects;

        if (fourProjects.Count > 0)
        {
            foreach (var item in fourProjects) {
                var listOfStrings = new List<byte[]>();

                foreach (var image in ViewBag.ImagesList)
                {
                    if (image.ProjectBelongsId == item.ProjectId)
                    {
                        listOfStrings.Add(image.ImageData);
                    }
                }

                if (listOfStrings.Count() > 0)
                {
                    var firstImage = listOfStrings.First<byte[]>();
                    var base64 = Convert.ToBase64String(firstImage);
                    var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                        <div class="col-sm-6 col-md-3" id="blogpost-card"> 
                            <div class="blogpost-card--img-container"> <img class="blogpost-card--img" src='@imgSrc' /> </div>
                                <div class="blogpost-card--title">@item.Title</div>
                                <div class="blogpost-card--body">
                                    <ul>
                                        <li>@item.TypeOfBuilding</li>
                                        <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Address): @item.Address</li>
                                        <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.AreaSize): @item.Area</li>
                                        <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Price): €@item.Price </li>
                                    </ul>
                                </div>
                            <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                                <div class="blogpost-card--action"> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.More).. </div>
                            </a>
</div>
                }
                else
                {
                    <div class="col-sm-6 col-md-3" id="blogpost-card">
                        <div class="blogpost-card--img-container"> <img class="blogpost-card--img" src='~/Content/Images/no-house-image-available.jpg' /></div>  
                        <div class="blogpost-card--title">@item.Title</div>
                        <div class="blogpost-card--body">
                            <ul>
                                <li>@item.TypeOfBuilding</li>
                                <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Address): @item.Address</li>
                                <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.AreaSize): @item.Area</li>
                                <li>@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Price): €@item.Price </li>
                            </ul>
                        </div>
                        <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                            <div class="blogpost-card--action"> @Html.DisplayName(RealEstate.Resources.HomeTexts.HomeTexts.More).. </div>
                        </a>
                    </div>    
                    
                }
            }
        }

    }
    </div>