@model RealEstate.Models.InquiryFormModel
<div class="div-as-body">
    <div class="inquiry-div">

        <h2>@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.WriteToUs)</h2>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <hr />

            
            <br />
            <div class="form-group">
                

                <span class="">@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.YourName)</span>
                <div class="">
                    @Html.TextBoxFor(m => m.FromName, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromName)
                </div>
            </div>
            <div class="form-group">
                <span class="">@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.YourEmail)</span>
                <div class="">
                    @Html.TextBoxFor(m => m.FromEmail, new { @class = "form-control" })
                    @Html.ValidationMessageFor(m => m.FromEmail)
                </div>
            </div>
            <div class="form-group">
                <span class="">@Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Message)</span>
                <div class="">
                    @Html.TextAreaFor(m => m.Message, new { @class = "form-control text-area-inquiry-form" })
                    @Html.ValidationMessageFor(m => m.Message)
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <button type="submit" class="btn btn-success">
                        <span class="glyphicon glyphicon-envelope"></span>
                        @Html.DisplayName(RealEstate.Resources.ContactsTexts.ContactsTexts.Send)
                    </button>
                </div>
            </div>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}