@model RealEstate.Models.Project

@{
    ViewBag.Title = "Delete";
}

<h2>@Html.Raw(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.DeleteProject)</h2>

<h3>@Html.Raw(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.YouSureWantToDeleteProject)</h3>
<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Title)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Title)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TypeOfBuilding)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TypeOfBuilding)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div style="margin-top:30px;">
            <div style="display:inline">
                <a class="btn btn-primary" href="@Url.Action("Index", "Projects")">
                    <div class="be-in-middle">
                        <span class="glyphicon glyphicon-arrow-left"></span>
                        @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.
                                     ProjectModelTexts.BackToProjects)
                    </div>
                </a>
            </div>
            <div style="display:inline">
                <input type="submit" value="Delete" class="btn btn-success edit-view-save-button" />
            </div> 
        </div>
    }
</div>
