@model IEnumerable<RealEstate.Models.Project>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.TypeOfBuilding)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.YearBuilt)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.AreaSize)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Price)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.AdditionalInformation)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.TypeOfBuilding)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Year)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Area)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Price)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.AdditionalInformation)
        </td>
        <td>
            @if (Request.IsAuthenticated == true)
            {
                @Html.ActionLink("Edit", "Edit", new { id = item.ProjectId }) 
                
            }

            @Html.ActionLink("Details", "Details", new { id = item.ProjectId }) |

            @if(Request.IsAuthenticated == true)
            {
                @Html.ActionLink("Delete", "Delete", new { id = item.ProjectId })
            }
            
           
          
        </td>
    </tr>
}

</table>
