@model IEnumerable<RealEstate.Models.Project>

@{
    ViewBag.Title = "Index";
}

<script type="text/javascript">

    function setInputFieldsToDefault()
    {
        document.getElementById("from-year-textbox").value = "";
        document.getElementById("to-year-textbox").value = "";
        document.getElementById("from-price-textbox").value = "";
        document.getElementById("to-price-textbox").value = "";
        document.getElementById("dropdownlist").selectedIndex = 0;

    }

</script>


    
    @using (Html.BeginForm("Index", "Projects", FormMethod.Get))

    {
    <p>
        <div class="row">
            <div class="col-md-9" style="display:inline-block">
                <div class="row">
                <div class="col-md-6" id="search-inputs-div">

                    @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.TypeOfBuilding) @Html.DropDownList("typeOfBuilding", null, RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.All, new { @id = "dropdownlist" })
                    <br />
                    @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.YearBuilt) @Html.TextBox("fromYear", "", new { @placeholder = RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.From, @id = "from-year-textbox" })
                    @Html.TextBox("toYear", "", new { @placeholder = RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.To, @id = "to-year-textbox" })
                    <br />
                    @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Price) @Html.TextBox("fromPrice", "", new { placeholder = RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.From, @id = "from-price-textbox" })
                    @Html.TextBox("toPrice", "", new { placeholder = RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.To, @id = "to-price-textbox" })
                    <br />
                </div>
                <div class="col-md-6" id="search-projects-buttons">
                    <button style="width:70%" type="submit" value="Filter" class="btn btn-primary btn-small btn-block"> <span class="glyphicon glyphicon-search"></span> @Html.DisplayName(RealEstate.Resources.SharedTexts.SharedTexts.Search)</button>
                    <button style="width:70%" type="button" value="Reset form" onclick="setInputFieldsToDefault()" class="btn btn-success btn-small btn-block"> <span class="glyphicon glyphicon-remove-sign"></span> @Html.DisplayName(RealEstate.Resources.SharedTexts.SharedTexts.ClearAll)</button>
                </div>
            </div>
            </div>
            <div class="col-md-3"></div>
        </div>
    </p>

    }


<script> </script>
@if (Request.IsAuthenticated == true && ViewContext.HttpContext.User.IsInRole("Admin"))
{
    <div>
        <a class="btn btn-success" href="@Url.Action("Create", "Projects")">
            <div class="be-in-middle">
                @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.CreateNewProject)
            </div>
        </a>
    </div>
}
<table class="table">
    <tr>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Foto)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Title)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.YearBuilt)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.AreaSize)
        </th>
        <th>
            @Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Rooms)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {

    <tr style="position:relative"> 
            <td>
                @{
                    var listOfImages = new List<byte[]>();
                    if (ViewBag.ImagesList != null)
                    {
                        foreach (var image in ViewBag.ImagesList)
                        {
                            if (image.ProjectBelongsId == item.ProjectId)
                            {
                                listOfImages.Add(image.ImageData);
                            }
                        }
                        if (listOfImages.Count != 0)
                        {
                            var firstImage = listOfImages.First<byte[]>();
                            var base64 = Convert.ToBase64String(firstImage);
                            var imgSrc = String.Format("data:image/gif;base64,{0}", base64);

                            <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                                <img src='@imgSrc' style="width:180px;height:140px;" />
                            </a>
                        }
                        else
                        {
                            <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                                <img src='~/Content/Images/no-house-image-available.jpg' style="width:180px;height:140px;" />
                            </a>
                        }
                    }
                }
            </td>
            <td style="position:relative">
                <a href="@Url.Action("Details", "Projects", new { id = item.ProjectId })">
                    @Html.DisplayFor(modelItem => item.Title)
                </a>
                <div style="bottom:0; right:0; font-weight: bold; position: absolute">@Html.DisplayName(RealEstate.Resources.ProjectModelTexts.ProjectModelTexts.Price): €@Html.DisplayFor(modelItem => item.Price) </div> 
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Area)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NumberOfRooms)
            </td>
            <td>
               
                    @if (Request.IsAuthenticated == true && ViewContext.HttpContext.User.IsInRole("Admin"))
                        {
                            <div style="display:block; margin-top:13px;">
                                <div style="width:100%">
                                     @Html.ActionLink(RealEstate.Resources.HomeTexts.HomeTexts.More, "Details", new { id = item.ProjectId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })
                                </div>
                                <div>
                                     @Html.ActionLink(RealEstate.Resources.HomeTexts.HomeTexts.Edit, "Edit", new { id = item.ProjectId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })
                                </div>
                                <div>
                                     @Html.ActionLink(RealEstate.Resources.HomeTexts.HomeTexts.Delete, "Delete", new { id = item.ProjectId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })
                                </div>
        
        
                            </div>
                    }
                    else
                    {
                        <div style="margin-top: 27%;">

                            @Html.ActionLink(RealEstate.Resources.HomeTexts.HomeTexts.More, "Details", new { id = item.ProjectId }, new { @class = "btn btn-primary btn-large buttons-with-70proc-width" })

                        </div>
                    }

            </td>
</tr>
}

</table>
